:root {
	font-size: 16px;
	--card-img-height: 200px;
}

* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

body {
	background: #ebecf0;
	font-family: 'Open Sans', sans-serif;
	min-height: 100vh;
}

body a {
	text-decoration: none;
	color: #172b4d;
}

body h1 {
	font-family: 'Song Myung', serif;
}

.card-container {
	width: 100%;
	height: auto;
	display: -webkit-box;
	display: flex;
	-webkit-box-orient: horizontal;
	-webkit-box-direction: normal;
	flex-flow: row wrap;
	-webkit-box-pack: center;
	justify-content: center;
	-webkit-box-align: center;
	align-items: center;
	-webkit-transition: all 200ms ease-in-out;
	transition: all 200ms ease-in-out;
}

.card {
	align-self: flex-start;
	position: relative;
	width: 400px;
	height: 395px;
	/* min-width: 275px; */
	margin: 1.25rem 0.75rem;
	background: white;
	border-radius: 6px;
	-webkit-transition: all 300ms ease-in-out;
	transition: all 300ms ease-in-out;
}

.card .card-img {
	visibility: hidden;
	width: 100%;
	height: var(--card-img-height);
	background-repeat: no-repeat;
	background-position: center center;
	background-size: cover;
}

.card .card-img-hovered {
	--card-img-hovered-overlay: linear-gradient(
		to bottom,
		rgba(0, 0, 0, 0),
		rgba(0, 0, 0, 0)
	);
	-webkit-transition: all 350ms ease-in-out;
	transition: all 350ms ease-in-out;
	background-repeat: no-repeat;
	background-position: center center;
	background-size: cover;
	width: 100%;
	position: absolute;
	border-radius: 6px;
	height: var(--card-img-height);
	top: 0;
}

.card .card-info {
	position: relative;
	padding: 0.75rem 1.25rem;
	-webkit-transition: all 200ms ease-in-out;
	transition: all 200ms ease-in-out;
}

.card .card-info .card-about {
	display: -webkit-box;
	display: flex;
	-webkit-box-pack: justify;
	justify-content: space-between;
	-webkit-box-align: center;
	align-items: center;
	padding: 0.75rem 0;
	-webkit-transition: all 200ms ease-in-out;
	transition: all 200ms ease-in-out;
}

.card .card-info .card-about .card-tag {
	width: 60px;
	max-width: 100px;
	padding: 0.2rem 0.5rem;
	font-size: 12px;
	text-align: center;
	text-transform: uppercase;
	letter-spacing: 1px;
	background: #505f79;
	color: #fff;
}

.card .card-info .card-about .card-tag.tag-news {
	background: #36b37e;
}

.card .card-info .card-about .card-tag.tag-deals {
	background: #ffab00;
}

.card .card-info .card-about .card-tag.tag-politics {
	width: 77px;
	background: #ff5630;
}

.card .card-info .card-title {
	z-index: 10;
	font-size: 1.5rem;
	padding-bottom: 0.75rem;
	-webkit-transition: all 350ms ease-in-out;
	transition: all 350ms ease-in-out;
}

.card-title {
	display: -webkit-box;
	-webkit-line-clamp: 2;
	-webkit-box-orient: vertical;
	overflow: hidden;
	text-overflow: ellipsis;
	height: 4rem;
}

.card .card-info .card-creator {
	padding-bottom: 0.75rem;
	-webkit-transition: all 250ms ease-in-out;
	transition: all 250ms ease-in-out;
}

.card:hover {
	cursor: pointer;
	box-shadow: 0px 15px 35px rgba(227, 252, 239, 0.1),
		0px 5px 15px rgba(0, 0, 0, 0.07);
	-webkit-transform: scale(1.025);
	transform: scale(1.025);
}

.card:hover .card-img-hovered {
	--card-img-hovered-overlay: linear-gradient(
		to bottom,
		rgba(0, 0, 0, 0),
		rgba(0, 0, 0, 0.65)
	);
	height: 100%;
}

.card:hover .card-about,
.card:hover .card-creator {
	opacity: 0;
}

.card:hover .card-info {
	background-color: transparent;
}

.card:hover .card-title {
	color: #ebecf0;
	-webkit-transform: translate(0, 40px);
	transform: translate(0, 40px);
}

.card-1 .card-img,
.card-1 .card-img-hovered {
	background-image: var(--card-img-hovered-overlay),
		url(assets/img/GMO_Thumbnail.png);
}

.card-2 .card-img,
.card-2 .card-img-hovered {
	background-image: var(--card-img-hovered-overlay),
		url(assets/img/ModixBiden_Thumbnail.png);
}

.card-3 .card-img,
.card-3 .card-img-hovered {
	background-image: var(--card-img-hovered-overlay),
		url(assets/img/birdflu-thumbnail.png);
}

.card-4 .card-img,
.card-4 .card-img-hovered {
	background-image: var(--card-img-hovered-overlay),
		url(assets/img/edu-thumbnail.png);
}

.card-5 .card-img,
.card-5 .card-img-hovered {
	background-image: var(--card-img-hovered-overlay),
		url(assets/img/whatsapp_Thumbnail.jpg);
}

.card-6 .card-img,
.card-6 .card-img-hovered {
	background-image: var(--card-img-hovered-overlay),
		url(assets/img/farmer_Thumbnail.png);
}

.card-7 .card-img,
.card-7 .card-img-hovered {
	background-image: var(--card-img-hovered-overlay),
		url(assets/img/ott_thumbnail.png);
}

.card-8 .card-img,
.card-8 .card-img-hovered {
	background-image: var(--card-img-hovered-overlay),
		url(assets/img/cinema_Thumbnail.png);
}

.card-9 .card-img,
.card-9 .card-img-hovered {
	background-image: var(--card-img-hovered-overlay),
		url(assets/img/Pride-Thumbnail.jpg);
}

.card-10 .card-img,
.card-10 .card-img-hovered {
	background-image: var(--card-img-hovered-overlay),
		url(assets/img/ITblog_thumbnail.jpeg);
}

.card-11 .card-img,
.card-11 .card-img-hovered {
	background-image: var(--card-img-hovered-overlay),
		url(assets/img/afghaniblog_thumbnail.jpeg);
}

/* Copy above code to create a new blog with different image. */
